### chi_sqaure test for independence

In [1]:
import pandas as pd
import  numpy as np
from scipy.stats import chi2_contingency

In [3]:
## loading the data from url from some github url

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data = pd.read_csv(url)

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### we will test if survial rate of passengers is independent of the passenger class

In [4]:
contingency_table = pd.crosstab(data['Survived'], data['Pclass'])
contingency_table

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [5]:
## perform the chi_square test
chi2, p_value,  dof, expected = chi2_contingency(contingency_table)

print("chi_square statistics:", chi2)
print("p_value:", p_value)
print("degrees of freedom:", dof)
print("expected frequencies:", expected)

chi_square statistics: 102.88898875696056
p_value: 4.549251711298793e-23
degrees of freedom: 2
expected frequencies: [[133.09090909 113.37373737 302.53535354]
 [ 82.90909091  70.62626263 188.46464646]]

## as we can see p_value is small number close to zero, hence we can reject the null hypothesis  i.e (there is significant association between passenger class and survival)