### Chi_Square Goodness of fit-test

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import chisquare

In [3]:
## loading the dataset from some github url

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
data = pd.read_csv(url)

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
## counting the passenger in each class

class_counts =  data['Pclass'].value_counts().sort_index()
class_counts

Pclass
1    216
2    184
3    491
Name: count, dtype: int64

In [9]:
## calculating the expected counts assuming a uniform distribution

total_passengers = len(data)
expected_counts = total_passengers / 3
expected = [expected_counts] * 3
print(expected)

[297.0, 297.0, 297.0]

In [12]:
## performing the chi_square goodness of fit-test

chi2, p_value = chisquare(class_counts, expected)

## print the results
print("chi_square statistics:", chi2) 
print("p_value:", p_value)

chi_square statistics: 191.8047138047138
p_value: 2.2394202231028854e-42

### as we can see this is too small number, means if p_value is less than alpha i.e 0.05, we can reject the null hypothesis...

hen